*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color:rgb(31, 35, 71);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 5%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size:24;
}

.descrição {
    background-color: grey;
    color:grey;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.titulo-descrição-imagem{
    width: 5%;
}

.descrição-imagem{
    width: 10%;
}
